body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(250, 149, 250);
}
h1{
    color: black;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
nav{
    color: black;
    padding: 1em;
}

nav ul{
    list-style-type: none ;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    margin: 0 1em;
}

nav ul li a{
    color: rgb(104, 49, 104);
    text-decoration: none;
}