body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
    
}

a{ text-transform: uppercase;}
header{
    background-color: rgb(250, 149, 250);
    border-color: black;
    padding-top: 2%;
    padding-left: 5%;
    padding: right 5%; ;
    padding-right: 5%;
    border: solid;color: black;
}
h1{
    color: black;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    

  



}
nav{
    color: black;
    padding: 1em;
}

nav ul{
    list-style-type: none ;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    margin: 0 1em;
}

nav ul li a{
    color: rgb(104, 49, 104);
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#producto{
    width: 100%;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.tarjeta {
    background-color: rgb(202, 141, 202);
    border: 1px solid;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.tarjeta:hover{
    transform: scale(1.05);
}

.tarjeta img{
    width: 100%;
    height: auto;
    display: block;
}

.tarjeta h3{
    margin: 1em;
    text-transform: uppercase;

}

.tarjeta p{
    margin: 1em;
}

#formulario h2{
text-align: start;
}

#formulario form{
    display: flex;
    flex-direction: column;
}


#formulario label #formulario input{
    margin: 0.5em 0;
}
